<div class="p-4 mb-3 bg-light rounded">
  <h4 class="fst-italic">About</h4>
  <p class="mb-0">My name is Luan, I'm 21 years old and I'm a programming student currently specializing in the Ruby language.</p>
</div>